.ptlive-input {

	position: relative;

	&--field {
	
		height: 40px;
		color: color($colors, dark, base);
		margin-bottom: 20px;
		margin-top: 5px;
		width: 100%;
		border: none;
		border-bottom: 2px solid #ccc;
		outline: none;

		&:focus {
			border-bottom: 2px solid color($colors, primary, base);
		}

		&::placeholder {
			color: #a8a8a8;
		}
	}

	&--field.has-error {
		border-bottom: 2px solid color($colors, danger, base) !important;
	}

	&--error {
		color: color($colors, danger, base);
		position: absolute;
		font-size: 12px;
		bottom: 1px;
	}

	@media only screen 
	  and (max-device-width: 320px) {

		.ptlive-input {

			&--field {
				height: 35px;
				margin-bottom: 15px;
			}

			&--error {
				font-size: 11px;
				bottom: 0;
			}
		}
	}
}
