<div class="ptlive-countdown">

	<div class="ptlive-countdown--text">
		THE NEXT PTLIVE START IN
	</div>

	<div class="ptlive-countdown--inner">
		<div class="ptlive-countdown--item"> 
			<div class="ptlive-countdown--item__count"> {{ countdown.days }} </div>
			<div class="ptlive-countdown--item__text"> DAYS </div>
		</div>

		<div class="ptlive-countdown--item">
			<div class="ptlive-countdown--item__count"> {{ countdown.hours }} </div>
			<div class="ptlive-countdown--item__text"> HOURS </div>
		</div>
	
		<div class="ptlive-countdown--item">
			<div class="ptlive-countdown--item__count"> {{ countdown.minutes }} </div>
			<div class="ptlive-countdown--item__text"> MINUTES </div>
		</div>

		<div class="ptlive-countdown--item">
			<div class="ptlive-countdown--item__count"> {{ countdown.seconds }} </div>
			<div class="ptlive-countdown--item__text"> SECONDS </div>
		</div>
	</div>
</div>
